* {
    box-sizing: border-box;
}

body {
    background-color: #795CB2;
}

h1 {
    background-color: #408EC6;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    border: 4px ridge white;
    color: #795CB2;
    font-size: 4rem;
    text-shadow: 2px 2px black;
}

.selected {
    color: white;
}

nav {
    background-color: #408EC6;
    display: flex;
    padding: 5px;
    border: 2px white ridge;
}

nav a {
    padding: 6px;
    border: 2px solid #795CB2;
}

.name {
    font-size: x-large;
    text-align: center;
}

.breed {
    text-align: center;
    color: black;
}

.background {
    height: 100vh;
    width: 100vh;
    background-size: cover;
    color: rgb(243, 230, 208);
    text-align:center;
    text-shadow: 2px 2px black;
    border: 5px ridge white;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #408EC6;
    font-size: 3rem;
    margin: 1rem;
    border: 4px ridge white
}

h2 {
    font-size: 3.5rem;
    text-decoration: underline;
    line-height: 0;
}

ul {
    font-size: 2.5rem;
    line-height: 1;
    list-style: none;
    font-weight: bold;
}

#home {
    margin-top: 78.5%;
    border: 3px ridge white;
    background-color: #408EC6;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}